.Rproj.user
.Rhistory
.RData
.Ruserdata
/adler_2007_ks/results
/adler_2007_ks/data
/adler_2007_ks/docs
/chu_2013_co/results
/chu_2013_co/data
/chu_2013_co/docs
/zachmann_2016_id/results
/zachmann_2016_id/data
/zachmann_2016_id/docs
/anderson_2016_az/results
/anderson_2016_az/data
/anderson_2016_az/docs
/anderson_2016_mt/results
/anderson_2016_mt/data
/anderson_2016_mt/docs
/christensen_2021_nm/results
/christensen_2021_nm/data
/christensen_2021_nm/docs
/moore_2021_az/results
/moore_2021_az/data
/moore_2021_az/docs
/moore_2021_az/reports/_book/
/archbold/data
/archbold/results
/archbold/docs
/archbold/reports/crav/_main_files
/archbold/reports/crav/_book/
/archbold/reports/crav/_bookdown_files/
