.Rproj.user
.Rhistory
.RData
.Ruserdata
/adler_2007_ks/results
/adler_2007_ks/data
/adler_2007_ks/docs
/chu_2013_co/results
/chu_2013_co/data
/chu_2013_co/docs
/zachmann_2016_ih/results
/zachmann_2016_ih/data
/zachmann_2016_ih/docs